.productsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 30px 30px;
    min-height: 100vh;
  }

  .card {
    margin: 2% 2% !important;
    justify-content: center;
    align-items: center;
  }
  
  .gents {
    border-bottom: 10px solid blue;
  }

  .ladies{
    border-bottom: 10px solid purple;
  }

  .img{
      max-height: 250px;
  }

  .linkP{
    text-decoration: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  @media(max-width: 500px){
    .img{
        max-height: 200px;
    }
    .productsContainer{
        padding-top: 40px;
    }
  }
  @media(max-width: 960px){
    .productsContainer{
        padding-top: 40px;
    }
  }

  @media(max-width: 400px){
    .img{
        max-height: 150px;
    }
  }