.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    vertical-align: centre;
    min-height: 100vh;
}

.link{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.link:hover{
  transform: scale(1.2);
}

.shoeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  color: rgb(255, 255, 255);
  margin: none;
  text-align: center;
}

.shoeImage{
  max-width: 100%;
}
